.review_container, .comment_container {
  background-color: whitesmoke;
  padding: 1rem;
}

.review_container {
  margin-bottom: 0.5rem;
}

.title, .date, .review_body, .comment_likes {
  margin-bottom: 0.75rem;
}

.avatar_handle {
  display: flex;
  align-items: center;
}

.avatar_img {
  object-fit: contain;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: white;
}

.date {
  font-size: 14px;
  font-style: italic;
}

.comment_header {
  background-color: #eb1b24;
  color: whitesmoke;
  padding: 0.75rem 1rem;
}

.comment_input {
  display: grid;
  grid-template-columns: auto 40px;
  margin-bottom: 1rem;
}

.text_field {
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #eb1b24;
  font-size: 0.875rem;
  outline: none;
}

.text_field:focus::placeholder {
  color: transparent;
}

.send_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb1b24;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.send_button > img {
  position: relative;
  right: 1px;
}

.comment_card {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid darkgrey;
}

.comment_rowOne {
  display: flex;
  justify-content: space-between;
}

.delete {
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
}