header {
  position: fixed;
  z-index: 2;
  background-color: #eb1b24;
  color: whitesmoke;
  height: 51px;
  width: 100%;
  max-width: 1024px;
  box-shadow: 0px 0px 5px black;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_container {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}



.highlighted {
  background-color: whitesmoke;
}

.title {
  font-size: 1.5rem;
}