.Sidebar {
  position: fixed;
  top: 51px;
  z-index: 1;
  background-color: #eb1b24;
  color: whitesmoke;
  box-shadow: 0px 0px 5px black;
  border-right: 1px solid white;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in;
}

.Sidebar  ul {
  margin: 0;
  display: block;
}

.Sidebar h3 {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid white;
}

.Sidebar li {
  padding: 1rem;
  border-bottom: 1px solid white;
}

.Sidebar img {
  max-width: 150px;
  height: auto;
}

.show {
  transform: translateY(0);
}